*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
   scroll-behavior: auto;
    -webkit-font-smoothing: antialiased;
    --primary-color: #0f0f0f;
    --secondary-color: #f8f8f8;
    --font-size-p: 1.5rem;
    --font-size-h: 5rem;
    --font-size-b: 3rem;
    /* overflow: hidden; */

}
body{
    background: #f7f7f7;
}

.welcome{
    font-family: 'Sansita Swashed', cursive;
    font-size: var(--font-size-h);
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: transparent;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 20px;
  }


a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-p);
    font-weight: bold;
    color: red;
}

a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

.logos {
    display: flex;
    justify-content: center;
    
  }
  
  .logos a:hover img {
    filter: brightness(0.8);
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
  }
  
  .logos div:not(:last-child) {
    margin-right: 40px;
  }
  
  .logos div:last-child {
    margin-right: 0;
  }


  .logo-container{
    margin-top: 10%;
  }

.mind{
    text-align: center;
      padding: 3rem;
      color: red;
      font-size: var(--font-size-h);
      letter-spacing: .4rem;
}

.about{
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-b);
    text-align: center; 
    line-height: 1.7;
    margin: 2%;

    
}
.about-bg{
    background: linear-gradient(
        #F09819,
        #EDDE5D
        );
}


.name h1{
    font-size: var(--font-size-h);
    font-family: 'Sansita Swashed', sans-serif;
    letter-spacing: .1rem;
    color: #f1f1f1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}


.about h2{
    font-size: var(--font-size-b);
}

.about h3{
    font-size: 2.4rem;
}

.about p{
    font-size: var(--font-size-p);
    color: var(--secondary-color);
}
#work{
    margin:0;
}

.work-bg{
    background: linear-gradient(
        #F09819,
        #EDDE5D,
        #FF9A9E,
        #FAD0C4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: linear-gradient(
        #F09819,
        #EDDE5D,
        #FF9A9E,
        #FAD0C4);;
}

.works-title{
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-h);
    font-weight: 600;
    text-align: center;
   color: #121212;
    padding: 3%;
    
}

button {
    background-color: #121212;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba((0), 0, 0, 0.3);
    margin: 10px;
  }
  
  button:hover {
    background-color: #f7f7f7;
    color: #121212;
  }
  
  
/* }
#work{

    align-items: center;
} */

.artworks{
    margin: 0 auto ;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 300px);
    gap: 10px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
   
}
.artworks img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artworks img:last-child {
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artworks .shadow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
.artworks .shadow::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

.artworks .animate::after {
    opacity: 1;
    transform: translate(0, 100%);
}

/* Gallery CSS */
.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
   
  }
  
  .my-gallery-class {
    display: flex;
    flex-wrap: wrap;
  
    margin-left: 3.5%;
    justify-content: center;
    align-items: center;
  }
  
  /* GalleryItem CSS */
  .gallery-item {
    position: relative;
    padding: 8px;
    width: calc(33.333% - 16px);
    box-sizing: border-box;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  }
  
  .gallery-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 5px;
  }
  
  .gallery-item:hover .gallery-image-overlay {
    opacity: 1;
  }
  
  /* Gallery Popup CSS */
  .gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 4px;
  }

@keyframes slide-up {
    from {
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}

.artworks .animate .shadow::after {
    animation-name: slide-up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

@media only screen and (max-width: 768px) {
  .artworks{
    margin: 2% 5% 2% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 5fr);
    gap: 10px;
    position: relative;
    overflow: hidden;
  }
}

  .shadow:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.02, 1.02);
  }
  
  .shadow:hover::after {
    opacity: 1;
  }
  
  .shadow:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.02, 1.02);
  }
  
  .shadow:hover::after {
      opacity: 1;
  }

  #work{
    margin-bottom: 2%;
  }
  #ux{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    
      
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10%;
        margin-top: 9%;
        z-index: 1; */
  }
  #contact{
    margin-top: 10%;
    color: #ffff;
  }
  

.websites{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 5%;
    line-height: 2;
}
.websites h1{
    font-size: var(--font-size-b);
}

.websites p{
    font-size: var(--font-size-p);
}


.websites div{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 3%;
}
.websites img{
    height: 650px;
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
}

footer{
    text-align: center;
}

footer div{
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-h);
}

.privacy{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    
}

.socials{
    font-size: var(--font-size-p);
}


.email-button{
    display: block;
    margin: 0 auto;
    
}


footer a{
    padding: 2%;
    margin: 1%;
  
}

footer a:hover{
    color: #0f0f0f;
}

footer p{
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    margin-bottom: 0;
}




@keyframes change-colors {
    0% {
      color: #3a6474;
    }
    20% {
        
      color: #64743a;
    }
    40% {
      
      color: #Fc2727;
    }
    60% {
      color: #74733a;
    }
    80% {
      color: #3a6470;
    }
    100% {
        color: #427464;
    }
  }